@require '../variables'

@keyframes fadeInZoomBig {
  0% {
    opacity: 0;
    transform: scale(0)
  }
  60% {
    transform: scale(1.25)
  }
  80% {
    transform: scale(0.95)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}

fadeInZoomBig($duration = 1s, $delay = 0s, $fill-mode = forwards)
  animation: fadeInZoomBig $duration $delay $fill-mode