@require '../variables'

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX($saf-translateX-distance) translateZ(0)
  }
  100% {
    opacity: 1;
  }
}

fadeInRight($duration = 1s, $delay = 0s, $fill-mode = forwards)
  animation: fadeInRight $duration $delay $fill-mode