@require '../variables'

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY($saf-translateY-distance) translateZ(0)
  }
  100% {
    opacity: 1;
  }
}

fadeInUp($duration = 1s, $delay = 0s, $fill-mode = forwards)
  animation: fadeInUp $duration $delay $fill-mode