@require '../variables'

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX($saf-translateX-distance * -10) translateZ(0)
  }
  65% {
    opacity: 1;
    transform: translateX($saf-translateX-distance)
  }
  100% {
    transform: translateX(0)
  }
}

slideInLeft($duration = 1s, $delay = 0s, $fill-mode = forwards)
  animation: slideInLeft $duration $delay $fill-mode

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX($saf-translateX-distance * 10) translateZ(0)
  }
  65% {
    opacity: 1;
    transform: translateX($saf-translateX-distance * -1)
  }
  100% {
    transform: translateX(0)
  }
}

slideInRight($duration = 1s, $delay = 0s, $fill-mode = forwards) {
  animation: slideInRight $duration $delay $fill-mode
}
