@require '../variables'

@keyframes turnInDown {
  0% {
    opacity: 0;
    transform: perspective(500px) rotateX($saf-turn-angle * -1) translateZ(150px)
  }
  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0deg) translateZ(0)
    backface-visibility: hidden
  }
}

turnInDown($duration = 1s, $delay = 0s, $fill-mode = forwards)
  animation: turnInDown $duration $delay $fill-mode

@keyframes turnInUp {
  0% {
    opacity: 0;
    transform: perspective(500px) rotateX($saf-turn-angle) translateZ(150px)
  }
  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0deg) translateZ(0)
    backface-visibility: hidden
  }
}

turnInUp($duration = 1s, $delay = 0s, $fill-mode = forwards)
  animation: turnInUp $duration $delay $fill-mode
