@require '../variables'

enlarge($selector = ":hover", $duration = 0.5s, $delay = 0s, $timing = cubic-bezier(1, -0.6, 0.595, 0.835))
  transition: all $duration $delay $timing
  &{$selector}
    transform: translateY($saf-enlarge-contract-jump * -1) scale($saf-enlarge-contract-multiple)
