@require '../variables'

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateZ(0)
  }
  100% {
    opacity: 0;
  }
}

fadeOut($duration = 1s, $delay = 0s, $fill-mode = forwards)
  animation: fadeOut $duration $delay $fill-mode
