@require '../variables'

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX($saf-translateX-distance * -1) translateZ(0)
  }
}

fadeOutLeft($duration = 1s, $delay = 0s, $fill-mode = forwards)
  animation: fadeOutLeft $duration $delay $fill-mode
