// Variables
@require 'variables'

// Entrances
@require 'entrances/fade-in'
@require 'entrances/fade-in-up'
@require 'entrances/fade-in-down'
@require 'entrances/fade-in-left'
@require 'entrances/fade-in-right'
@require 'entrances/fade-in-zoom'
@require 'entrances/fade-in-zoom-big'
@require 'entrances/slide-in'
@require 'entrances/drop-in'
@require 'entrances/rise-in'
@require 'entrances/pop-in'
@require 'entrances/turn-in'
@require 'entrances/stretch'
@require 'entrances/newspaper'

// Exits
@require 'exits/fade-out'
@require 'exits/fade-out-down'
@require 'exits/fade-out-up'
@require 'exits/fade-out-left'
@require 'exits/fade-out-right'
@require 'exits/fade-out-zoom'
@require 'exits/fade-out-zoom-big'
@require 'exits/slide-out'
@require 'exits/explode'
@require 'exits/drop-out'
@require 'exits/rise-out'
@require 'exits/poof'
@require 'exits/turn-out'
@require 'exits/compress'

// In Place
@require 'in-place/hover'
@require 'in-place/shake'
@require 'in-place/expand'
@require 'in-place/teeter'
@require 'in-place/quiver'
@require 'in-place/sway'
@require 'in-place/spin'
@require 'in-place/bounce'
@require 'in-place/pulsate'
@require 'in-place/colors'
@require 'in-place/around-the-world'
@require 'in-place/ping'
@require 'in-place/square-dance'
@require 'in-place/sunrise'
@require 'in-place/enlarge'
@require 'in-place/contract'
@require 'in-place/flip'
@require 'in-place/cube-flip'
