$saf-translateY-distance ?= 1.334em
$saf-translateX-distance ?= 1.334em
$saf-drop-rise-distance ?= 10em
$saf-shake-distance ?= 0.55em
$saf-teeter-angle ?= 10deg
$saf-quiver-angle ?= 2deg
$saf-hover-bob-distance ?= 0.25em
$saf-hover-bob-angle ?= 1deg
$saf-sway-angle ?= 3deg
$saf-turn-angle ?= 225deg
$saf-pulsate-scale ?= 1.1
$saf-stretch-compress-exageration ?= 1.05
$saf-distance-from-origin ?= 5em
$saf-sunrise-arch ?= -15em
$saf-enlarge-contract-multiple ?= 1.15
$saf-enlarge-contract-jump ?= 1em
$saf-flip-scale ?= 1.2
